APP_NAME=Go Inventory Playground

APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=inventory_playground
DB_SCHEMA=go_inventory_playground
DB_SSLMODE=disable
